*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


body{
background: url(IMG/fondo-borroso-oscuro-abstracto-color-textura-degradado-suave-patron-sitio-web-brillante-encabezado-banner-o-imagen-arte-grafico-barra-lateral_1258-85459.png);
background-repeat: no-repeat;
background-size: 1500px;


}

.cont-temporizador {

display: flex;
justify-content: center;
margin-top: 50px;


}




.cont-temporizador .bloque{
margin: 0px 4px;
display: flex;
flex-direction:  column;
align-items: center;
}

.cont-temporizador .bloque div{
    display: flex;
justify-content: center;
align-items: center;
background-color: gray (101, 16, 222);
box-shadow: 0px 0px 6px 2px #727272 inset;
color: white;
font-size: 40px;
font-weight: bold;
width: 100px;
height: 70px;
margin-bottom: 10px;
border-radius: 5px;

    }


    .cont-temporizador .bloque p{
        font-size: 11px;
        font-weight: bold;
        color: #dedede;
        


    }



h1{
text-align: center;

}


